@{
    ViewBag.Title = "CreateOrAddResult";
    Layout = null;
}
<h3>
    <div style="text-align:center;">
        Данные успешно переданы.<br>
        Сейчас Вы будете переадресованы на главную страницу сайта<br>
        Если это не произошло, перейдите на неё по <a href="/Home">прямой&nbsp;ссылке</a>.
    </div>
</h3>

<script>
    setTimeout('location="/Home"', 2000);
</script>

