<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление заявок на доработку Приложения</title>
</head>
<body>
        <h3>Добавление заявок на доработку Приложения</h3>
        <a href="/Home/Create" class="badge badge-primary">Создать заявку</a><br>
        <a href="/Home/ListRequests" class="badge badge-secondary">Просмотреть заявки</a><br>
        <a href="/Home/ListApp" class="badge badge-secondary">Просмотреть список приложений</a><br>
</body>
</html>
